
.se-connecter{
background-color: #88E170;
}

.card-body-custom{
color:black;
}

.card{
    max-width: 100%;
    background-color:#88E170;
}

.profil-sub-heading{
    color:#000000;
    margin-top: 3rem;
}